<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head id="header">
    <meta charset="UTF-8">
    <title>Welcome to the X shop</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light" id="navbar">
    <a class="navbar-brand" href="/">X shop</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">All Products <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/cart">View your cart</a>
            </li>
            <li class="nav-item dropdown" th:if="${customer.id != null}">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Account
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/customer/edit">Edit info</a>
                    <a class="dropdown-item" href="/log out">Log Out</a>
                </div>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        <a style="margin-left: 20px" th:if="${customer.id == null}" class="btn btn-outline-success my-2 my-sm-0" href="/login">Login</a>
        <th:block th:if="${customer.name != null}">
            <span>Welcome </span><span th:text="${customer.name}"></span>
        </th:block>
    </div>
</nav>
<div style="width: 90%; position: relative" id="content">
    <th:block th:each="product :${productList}" style="position:relative">
        <div class="card" style="width: 18rem; float:left; margin: 10px" >
            <img class="card-img-top" th:src="@{'/images/'+${product.image}}" alt="No Image Yet" style="height: 140px">
            <div class="card-body">
                <h5 class="card-title" th:text="${product.name}"></h5>
                <p class="card-text" th:text="${product.getShortDescription()}"></p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item" th:text="${product.price}"></li>
            </ul>
            <div class="card-body">
                <a th:href="@{/product/detail/{id}(id = ${product.id})}" class="card-link">Detail</a>
                <a th:href="@{/product/addToCart/{id}(id= ${product.id})}" class="card-link">Add to Cart</a>
            </div>
        </div>
    </th:block>
    <div style="background-color: white; width: fit-content; border-radius: 4px">
        <a class="btn btn-outline-success" th:href="@{'/productList'(page=${productList.number - 1})}" th:if="${productList.hasPrevious()}">Previous</a>
        <span th:text="${productList.number + 1}"></span>/<span th:text="${productList.totalPages}"></span>
        <a class="btn btn-outline-success" th:href="@{'/productList'(page=${productList.number + 1})}" th:if="${productList.hasNext()}">Next</a>
    </div>
</div>


</body>
<th:block id="bootstrapScript">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</th:block>
</html>