<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="index:: #header">
</head>
<body>
<section th:replace="index:: #menu1-13"></section>

<section class="features11 cid-sj7kdvpMzV mbr-parallax-background" id="features11-z">

    <div class="mbr-overlay" style="opacity: 0.8; background-color: rgb(255, 255, 255);">
    </div>
    <div class="container">
        <div class="col-md-12">
            <div class="media-container-row">
                <div class="mbr-figure m-auto" style="width: 50%;">
                    <img src="/assets/images/mbr-2-1920x1280.jpg" alt="Mobirise" title="">
                </div>
                <div class=" align-left aside-content">
                    <h2 class="mbr-title pt-2 mbr-fonts-style display-2">
                        ID: <span th:text="${customer.getCustomerCode()}"></span></h2>

                    <div class="block-content">
                        <div class="card p-3 pr-3">
                            <div class="media">
                                <div class=" align-self-center card-img pb-3">
                                    <span class="mbr-iconfont mbrib-briefcase"></span>
                                </div>
                                <div class="media-body">
                                    <h4 class="card-title mbr-fonts-style display-7">
                                        Name : <span th:text="${customer.getName()}"></span>
                                    </h4>
                                </div>
                            </div>
                        </div>

                        <div class="card p-3 pr-3">
                            <div class="media">
                                <div class="align-self-center card-img pb-3">
                                    <span class="mbr-iconfont mbrib-briefcase"></span>
                                </div>
                                <div class="media-body">
                                    <h4 class="card-title mbr-fonts-style display-7">
                                        Address: <span th:text="${customer.address}"></span>
                                    </h4>
                                </div>
                            </div>
                        </div>

                        <div class="card p-3 pr-3">
                            <div class="media">
                                <div class="align-self-center card-img pb-3">
                                    <span class="mbr-iconfont mbrib-briefcase"></span>
                                </div>
                                <div class="media-body">
                                    <h4 class="card-title mbr-fonts-style display-7">
                                        Date Of Birth: <span th:text="${customer.dateOfBirth}"></span>
                                    </h4>
                                </div>
                            </div>
                        </div>

                        <div class="card p-3 pr-3">
                            <div class="media">
                                <div class="align-self-center card-img pb-3">
                                    <span class="mbr-iconfont mbrib-briefcase"></span>
                                </div>
                                <div class="media-body">
                                    <h4 class="card-title mbr-fonts-style display-7">
                                        Email: <span th:text="${customer.email}"></span>
                                    </h4>
                                </div>
                            </div>
                        </div>

                        <div class="card p-3 pr-3">
                            <div class="media">
                                <div class="align-self-center card-img pb-3">
                                    <span class="mbr-iconfont mbrib-briefcase"></span>
                                </div>
                                <div class="media-body">
                                    <h4 class="card-title mbr-fonts-style display-7">
                                        ID Card: <span th:text="${customer.idCard}"></span>
                                    </h4>
                                </div>
                            </div>
                        </div>

                        <div class="card p-3 pr-3">
                            <div class="media">
                                <div class="align-self-center card-img pb-3">
                                    <span class="mbr-iconfont mbrib-briefcase"></span>
                                </div>
                                <div class="media-body">
                                    <h4 class="card-title mbr-fonts-style display-7">
                                        Phone Number: <span th:text="${customer.phone}"></span>
                                    </h4>
                                </div>
                            </div>
                        </div>

                        <div class="card p-3 pr-3">
                            <div class="media">
                                <div class="align-self-center card-img pb-3">
                                    <span class="mbr-iconfont mbrib-briefcase"></span>
                                </div>
                                <div class="media-body">
                                    <h4 class="card-title mbr-fonts-style display-7">
                                        Type: <span th:text="${customer.customerType.name}"></span>
                                    </h4>
                                </div>
                            </div>
                        </div>

                        <div class="card p-3 pr-3">
                            <div class="media">
                                <div class="align-self-center card-img pb-3">
                                    <span class="mbr-iconfont mbrib-briefcase"></span>
                                </div>
                                <div class="media-body">
                                    <h4 class="card-title mbr-fonts-style display-7">
                                        Gender: <span th:text="${customer.gender.name}"></span>
                                    </h4>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<th:block th:replace="index:: #footerAndScript"></th:block>

</body>
</html>