<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Blog Management</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<style th:inline="text">
    .content {
        width: 80%;
        position: relative;
        left: 100px;
        background-color: white;
        opacity: 0.8;
        border-radius: 10px;
    }
    .content pre{
        margin: 0 10px;
        text-align: justify;
        text-indent: 40px;
        white-space: pre-wrap;
    }
    body {
        background-image: url("/images/bg.jpg");
        background-size: 100%;
        background-repeat: repeat-y;
    }
    img {
        max-height:80px;
        width:80px;
        height:auto;
    }
</style>

</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light" th:fragment="navbar">
    <a class="navbar-brand" th:href="@{/home}"><span th:text="#{title}"></span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/blog/create}"><span th:text="#{functionAddBlog}"></span><span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span th:text="#{functionCatalogue}"></span>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <th:block th:each="catalogue : ${catalogueList}">
                        <a class="dropdown-item" th:href="@{/catalogue/view/{id}(id=${catalogue.getId()})}" th:text="${catalogue.getName()}"></a>
                    </th:block>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/catalogue/manage"><span th:text="#{functionCatalogueManage}"></span></a>
                    <a th:href="@{/catalogue/add}" class="dropdown-item"><span th:text="#{functionAddCatalogue}"></span></a>
                </div>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" action="/search" method="get">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="searchData">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><span th:text="#{functionSearch}"></span></button>
        </form>
        <a class="btn btn-outline-primary" style="margin: 0 20px" th:if="${#request.userPrincipal == null}" th:href="@{/login}">Log In</a>
        <th:block th:if="${#request.userPrincipal != null}">
            <span style="margin-left: 20px">Hi, </span><span th:text="${#request.userPrincipal.name}"></span>
            <br>
            <a class="btn btn-outline-warning" style="margin: 0 20px" th:href="@{/logout}">Log Out</a>
        </th:block>
    </div>
</nav>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#deleteModal">
    Launch
</button>

<!-- Modal -->
<div th:fragment="deleteModal" class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><span th:text="#{titleConfirmation}"></span></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="/blog/delete" method="get">
                <div class="modal-body">
                    <input type="hidden" id="idToDelete" name="deleteId">
                    <h4 th:text="#{messageConfirmation}"></h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Confirm</button>
                </div>
            </form>

        </div>
    </div>
</div>


<footer th:fragment="footer">
    <script src="js/jquery-3.5.1.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</footer>
</body>
</html>