<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
</head>
<body>
<nav th:replace="/layout :: navbar"></nav>
<div class="content" th:object="${blog}">
    <h2 th:text="${blog.title}" style="text-align: center"></h2>
    <hr>
    <p style="font-size: small; margin-left: 10px" th:text="${blog.writer}"></p>
    <p style="font-size: small; margin-left: 10px" th:text="${blog.postDate}"></p>
    <hr>
    <pre style="margin:10px 20px" th:text="${blog.content}"></pre>
</div>

<footer th:replace="/layout :: footer"></footer>
</body>
</html>